build/translations/qt_ar.qm
build/translations/qt_bg.qm
build/translations/qt_ca.qm
build/translations/qt_cs.qm
build/translations/qt_da.qm
build/translations/qt_de.qm
build/translations/qt_en.qm
build/translations/qt_es.qm
build/translations/qt_fi.qm
build/translations/qt_fr.qm
build/translations/qt_gd.qm
build/translations/qt_he.qm
build/translations/qt_hu.qm
build/translations/qt_it.qm
build/translations/qt_ja.qm
build/translations/qt_ko.qm
build/translations/qt_lv.qm
build/translations/qt_pl.qm
build/translations/qt_ru.qm
build/translations/qt_sk.qm
build/translations/qt_tr.qm
build/translations/qt_uk.qm
build/translations/qt_zh_TW.qm
.vscode/launch.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/D3Dcompiler_47.dll
build/libEGL.dll
build/libgcc_s_seh-1.dll
build/libGLESv2.dll
build/libstdc++-6.dll
build/libwinpthread-1.dll
build/Makefile
build/opengl32sw.dll
build/Qt5Core.dll
build/Qt5Gui.dll
build/Qt5Multimedia.dll
build/Qt5Network.dll
build/Qt5Svg.dll
build/Qt5Widgets.dll
build/settings.ini
build/Timer.exe
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ef793194912183bd55ed.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3d382626d7f8830d2743.json
build/.cmake/api/v1/reply/codemodel-v2-d402d764ce0fadb7d47d.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2023-09-22T21-11-15-0409.json
build/.cmake/api/v1/reply/target-Timer_autogen-Debug-beeac85b03c6af84cc67.json
build/.cmake/api/v1/reply/target-Timer-Debug-796363ba54edf1fcdf39.json
build/.cmake/api/v1/reply/toolchains-v1-8f68af095f8db63bb50e.json
build/audio/qtaudio_windows.dll
build/bearer/qgenericbearer.dll
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.6/CMakeRCCompiler.cmake
build/CMakeFiles/3.27.6/CMakeSystem.cmake
build/CMakeFiles/3.27.6/CompilerIdCXX/a.exe
build/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Timer.dir/app.rc.obj
build/CMakeFiles/Timer.dir/build.make
build/CMakeFiles/Timer.dir/cmake_clean.cmake
build/CMakeFiles/Timer.dir/compiler_depend.internal
build/CMakeFiles/Timer.dir/compiler_depend.make
build/CMakeFiles/Timer.dir/compiler_depend.ts
build/CMakeFiles/Timer.dir/depend.internal
build/CMakeFiles/Timer.dir/depend.make
build/CMakeFiles/Timer.dir/DependInfo.cmake
build/CMakeFiles/Timer.dir/flags.make
build/CMakeFiles/Timer.dir/includes_CXX.rsp
build/CMakeFiles/Timer.dir/link.txt
build/CMakeFiles/Timer.dir/linkLibs.rsp
build/CMakeFiles/Timer.dir/main.cpp.obj
build/CMakeFiles/Timer.dir/main.cpp.obj.d
build/CMakeFiles/Timer.dir/mainwindow.cpp.obj
build/CMakeFiles/Timer.dir/mainwindow.cpp.obj.d
build/CMakeFiles/Timer.dir/notification.cpp.obj
build/CMakeFiles/Timer.dir/notification.cpp.obj.d
build/CMakeFiles/Timer.dir/objects.a
build/CMakeFiles/Timer.dir/objects1.rsp
build/CMakeFiles/Timer.dir/progress.make
build/CMakeFiles/Timer.dir/RC.includecache
build/CMakeFiles/Timer.dir/tray_menu.cpp.obj
build/CMakeFiles/Timer.dir/tray_menu.cpp.obj.d
build/CMakeFiles/Timer.dir/Timer_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/Timer.dir/Timer_autogen/mocs_compilation.cpp.obj.d
build/CMakeFiles/Timer.dir/Timer_autogen/EWIEGA46WW/qrc_res.cpp.obj
build/CMakeFiles/Timer.dir/Timer_autogen/EWIEGA46WW/qrc_res.cpp.obj.d
build/CMakeFiles/Timer_autogen.dir/AutogenInfo.json
build/CMakeFiles/Timer_autogen.dir/AutogenUsed.txt
build/CMakeFiles/Timer_autogen.dir/AutoRcc_res_EWIEGA46WW_Info.json
build/CMakeFiles/Timer_autogen.dir/AutoRcc_res_EWIEGA46WW_Lock.lock
build/CMakeFiles/Timer_autogen.dir/AutoRcc_res_EWIEGA46WW_Used.txt
build/CMakeFiles/Timer_autogen.dir/build.make
build/CMakeFiles/Timer_autogen.dir/cmake_clean.cmake
build/CMakeFiles/Timer_autogen.dir/compiler_depend.make
build/CMakeFiles/Timer_autogen.dir/compiler_depend.ts
build/CMakeFiles/Timer_autogen.dir/DependInfo.cmake
build/CMakeFiles/Timer_autogen.dir/ParseCache.txt
build/CMakeFiles/Timer_autogen.dir/progress.make
build/iconengines/qsvgicon.dll
build/imageformats/qgif.dll
build/imageformats/qicns.dll
build/imageformats/qico.dll
build/imageformats/qjpeg.dll
build/imageformats/qsvg.dll
build/imageformats/qtga.dll
build/imageformats/qtiff.dll
build/imageformats/qwbmp.dll
build/imageformats/qwebp.dll
build/mediaservice/dsengine.dll
build/mediaservice/qtmedia_audioengine.dll
build/platforms/qwindows.dll
build/playlistformats/qtmultimedia_m3u.dll
build/styles/qwindowsvistastyle.dll
build/themes/Blue/main.qss
build/themes/Blue/notification.qss
build/themes/Blue/tray_menu.qss
build/themes/Dark/main.qss
build/themes/Dark/notification.qss
build/themes/Dark/title.qss
build/themes/Dark/tray_menu.qss
build/themes/Green/main.qss
build/themes/Green/notification.qss
build/themes/Green/tray_menu.qss
build/themes/Light/main.qss
build/themes/Light/notification.qss
build/themes/Light/title.qss
build/themes/Light/tray_menu.qss
build/Timer_autogen/moc_predefs.h
build/Timer_autogen/mocs_compilation.cpp
build/Timer_autogen/EWIEGA46WW/moc_mainwindow.cpp
build/Timer_autogen/EWIEGA46WW/moc_mainwindow.cpp.d
build/Timer_autogen/EWIEGA46WW/moc_notification.cpp
build/Timer_autogen/EWIEGA46WW/moc_notification.cpp.d
build/Timer_autogen/EWIEGA46WW/qrc_res.cpp
build/Timer_autogen/include/ui_mainwindow.h
build/Timer_autogen/include/ui_notification.h
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/count.txt
