
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Timer/v16/.suo
.vs/Timer/v16/Browse.VC.db
.vs/Timer_Qt/v16/.suo
.vs/Timer_Qt/v16/Browse.VC.db
.vs/Timer_Qt/v16/Browse.VC.db-shm
.vs/Timer_Qt/v16/Browse.VC.db-wal
.vs/Timer_Qt/v16/Browse.VC.opendb
.vs/Timer_Qt/v16/ipch/AutoPCH/3dc5d788af4196c3/MAIN.ipch
.vs/Timer_Qt/v16/ipch/AutoPCH/48ad0df4744e920d/MAIN.ipch
.vs/VSWorkspaceState.json
settings.ini
Timer_Qt.vcxproj
Timer_Qt.vcxproj.filters
Timer_Qt.vcxproj.user
x64/Debug/moc/moc_mainwindow.cpp
x64/Debug/moc/moc_notification.cpp
x64/Debug/qmake/qtvars_x64_Debug.props
x64/Debug/qmake/temp/.qmake.stash
x64/Debug/qmake/temp/44B2BF99-99F8-4E2F-9492-D2F969E12467.Timer_Qt.designtime.idx
x64/Debug/qmake/temp/Makefile
x64/Debug/qmake/temp/props.txt
x64/Debug/qmake/temp/qtvars.log
x64/Debug/qmake/temp/qtvars.pro
x64/Debug/qmake/temp/qtvars_x64_Debug.props
x64/Debug/qt_work.log
x64/Debug/rcc/qrc_res.cpp
x64/Debug/Timer_Qt.tlog/moc.read.1u.tlog
x64/Debug/Timer_Qt.tlog/moc.write.1u.tlog
x64/Debug/Timer_Qt.tlog/rcc.read.1u.tlog
x64/Debug/Timer_Qt.tlog/rcc.write.1u.tlog
x64/Debug/Timer_Qt.tlog/Timer_Qt.write.1u.tlog
x64/Debug/Timer_Qt.tlog/uic.read.1u.tlog
x64/Debug/Timer_Qt.tlog/uic.write.1u.tlog
x64/Debug/uic/ui_mainwindow.h
x64/Debug/uic/ui_notification.h
x64/Release/audio/qtaudio_wasapi.dll
x64/Release/audio/qtaudio_windows.dll
x64/Release/bearer/qgenericbearer.dll
x64/Release/D3Dcompiler_47.dll
x64/Release/iconengines/qsvgicon.dll
x64/Release/imageformats/qgif.dll
x64/Release/imageformats/qicns.dll
x64/Release/imageformats/qico.dll
x64/Release/imageformats/qjpeg.dll
x64/Release/imageformats/qsvg.dll
x64/Release/imageformats/qtga.dll
x64/Release/imageformats/qtiff.dll
x64/Release/imageformats/qwbmp.dll
x64/Release/imageformats/qwebp.dll
x64/Release/libEGL.dll
x64/Release/libGLESv2.dll
x64/Release/main.obj
x64/Release/mainwindow.obj
x64/Release/mediaservice/dsengine.dll
x64/Release/mediaservice/qtmedia_audioengine.dll
x64/Release/mediaservice/wmfengine.dll
x64/Release/moc/moc_mainwindow.cpp
x64/Release/moc/moc_notification.cpp
x64/Release/moc_mainwindow.obj
x64/Release/moc_notification.obj
x64/Release/notification.obj
x64/Release/opengl32sw.dll
x64/Release/platforms/qwindows.dll
x64/Release/playlistformats/qtmultimedia_m3u.dll
x64/Release/qmake/qtvars_x64_Release.props
x64/Release/qmake/temp/.qmake.stash
x64/Release/qmake/temp/44B2BF99-99F8-4E2F-9492-D2F969E12467.Timer_Qt.designtime.idx
x64/Release/qmake/temp/Makefile
x64/Release/qmake/temp/props.txt
x64/Release/qmake/temp/qtvars.log
x64/Release/qmake/temp/qtvars.pro
x64/Release/qmake/temp/qtvars_x64_Release.props
x64/Release/qrc_res.obj
x64/Release/Qt5Core.dll
x64/Release/Qt5Gui.dll
x64/Release/Qt5Multimedia.dll
x64/Release/Qt5Network.dll
x64/Release/Qt5Svg.dll
x64/Release/Qt5Widgets.dll
x64/Release/qt_work.log
x64/Release/rcc/qrc_res.cpp
x64/Release/Resource.res
x64/Release/styles/qwindowsvistastyle.dll
x64/Release/Timer_Qt.exe
x64/Release/Timer_Qt.exe.recipe
x64/Release/Timer_Qt.log
x64/Release/Timer_Qt.tlog/CL.2656.write.1.tlog
x64/Release/Timer_Qt.tlog/CL.command.1.tlog
x64/Release/Timer_Qt.tlog/CL.read.1.tlog
x64/Release/Timer_Qt.tlog/link.command.1.tlog
x64/Release/Timer_Qt.tlog/link.read.1.tlog
x64/Release/Timer_Qt.tlog/link.write.1.tlog
x64/Release/Timer_Qt.tlog/moc.read.1u.tlog
x64/Release/Timer_Qt.tlog/moc.write.1u.tlog
x64/Release/Timer_Qt.tlog/rc.command.1.tlog
x64/Release/Timer_Qt.tlog/rc.read.1.tlog
x64/Release/Timer_Qt.tlog/rc.write.1.tlog
x64/Release/Timer_Qt.tlog/rcc.read.1u.tlog
x64/Release/Timer_Qt.tlog/rcc.write.1u.tlog
x64/Release/Timer_Qt.tlog/Timer_Qt.lastbuildstate
x64/Release/Timer_Qt.tlog/Timer_Qt.write.1u.tlog
x64/Release/Timer_Qt.tlog/uic.read.1u.tlog
x64/Release/Timer_Qt.tlog/uic.write.1u.tlog
x64/Release/Timer_Qt.tlog/windeployqt.read.1u.tlog
x64/Release/Timer_Qt.tlog/windeployqt.write.1u.tlog
x64/Release/Timer_Qt.vcxproj.FileListAbsolute.txt
x64/Release/translations/qt_ar.qm
x64/Release/translations/qt_bg.qm
x64/Release/translations/qt_ca.qm
x64/Release/translations/qt_cs.qm
x64/Release/translations/qt_da.qm
x64/Release/translations/qt_de.qm
x64/Release/translations/qt_en.qm
x64/Release/translations/qt_es.qm
x64/Release/translations/qt_fi.qm
x64/Release/translations/qt_fr.qm
x64/Release/translations/qt_gd.qm
x64/Release/translations/qt_he.qm
x64/Release/translations/qt_hu.qm
x64/Release/translations/qt_it.qm
x64/Release/translations/qt_ja.qm
x64/Release/translations/qt_ko.qm
x64/Release/translations/qt_lv.qm
x64/Release/translations/qt_pl.qm
x64/Release/translations/qt_ru.qm
x64/Release/translations/qt_sk.qm
x64/Release/translations/qt_tr.qm
x64/Release/translations/qt_uk.qm
x64/Release/translations/qt_zh_TW.qm
x64/Release/tray_menu.obj
x64/Release/uic/ui_mainwindow.h
x64/Release/uic/ui_notification.h
x64/Release/windeployqt.log
